* {
    font-family: 'Orbitron', sans-serif;
}
body{
    min-height: 100%;
    background-color: rgba(0,0,0,1);
}
span{
    position: absolute;
    color: #17D4FE;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%)
}